/**
 * in case you wanted to use Babel instead of Bublé uncomment the below configurations
 */

{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-syntax-jsx",
    [
      "babel-plugin-inferno",
      {
        "imports": true
      }
    ]
  ]
}
