/**
 * This is mainly used for the testing environment, and in case you wanted to use Babel instead of Bublé
 * replace `buble-loader` with `babel-loader` and babel will use this file for transpiler's configurations
 */

{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-syntax-jsx",
    [
      "babel-plugin-inferno",
      {
        "imports": true
      }
    ]
  ]
}
